@font-face {
    font-family: "GothamBook";
    src: url("assets/fonts/gotham/gotham-book.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "GothamBold";
    src: url("assets/fonts/gotham/Gotham-Bold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "MontserratMedium";
    src: url("assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  }