@font-face {
    font-family: "MontrealBold";
    src: url("assets/fonts/Montreal-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "MontrealHeavy";
    src: url("assets/fonts/montreal-heavy.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "ProSemiBold";
    src: url("assets/fonts/SofiaProSemiBold_0.otf") format("opentype");
  }

.table {
    width: 600px;
  }