@font-face {
    font-family: "MontrealBold";
    src: url("assets/fonts/Montreal-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "GothamBold";
    src: url("assets/fonts/gotham/Gotham-Bold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "MontserratMedium";
    src: url("assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  }