@font-face {
  font-family: "MontrealBold";
  src: url("assets/fonts/Montreal-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontrealHeavy";
  src: url("assets/fonts/montreal-heavy.ttf") format("truetype");
}

@font-face {
  font-family: "MontrealRegular";
  src: url("assets/fonts/SofiaProSemiBold_0.otf") format("opentype");
}

@font-face {
  font-family: "ProSemiBold";
  src: url("assets/fonts/SofiaProSemiBold_0.otf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

@import "@/assets/scss/mixins.scss";

.table {
  width: 600px;
  margin: 20px;
  @include mobile() {
    width: 100%;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__header-item {
    flex: 1 1 0%;
    text-align: center;
    font-family: MontrealHeavy;
    font-size: 26px;
    @include mobile() {
      font-size: 16px;
    }
  }
  &__data-row {
    display: flex;
    align-items: center;
    padding: 3px 0;
  }
  &--data-row-item-selected {
    color: #d62626;
  }
  &__data-row--selected {
    display: flex;
    align-items: center;
    background-color: rgba(214, 38, 38, 0.8);
    border-radius: 25px;
    color: white;
  }
  &__data-row-item {
    flex: 1 1 0%;
    text-align: center;
    font-family: MontrealBold;
    font-size: 14px;
    @include mobile() {
      font-size: 10px;
    }
  }
}

.capital {
  text-transform: capitalize;
}
